
global !p
def beamer():
	return vim.eval('b:vimtex["documentclass"]') == 'beamer'
endglobal

context "beamer()"
snippet frame "BEAMER: frame" b
\begin{frame}[allowframebreaks]{$1}
	$0
\end{frame}
endsnippet

context "beamer()"
snippet split "BEAMER: 50-50 split frame" b
\begin{columns}
	\begin{column}{0.5\textwidth}
		${1:${VISUAL}}
	\end{column}
	\begin{column}{0.5\textwidth}
		${2}
	\end{column}
\end{columns}$0
endsnippet
