snippet ilc "Inline Code" i
\`${1:${VISUAL}}\`$0
endsnippet

snippet cbl "Codeblock" b
\`\`\`$1
${2:${VISUAL}}
\`\`\`
$0
endsnippet

snippet ilm "Inline Math" b
\$${1:${VISUAL}}\$ $0
endsnippet

snippet mbl "math" b
\$\$
${1:${VISUAL}}
\$\$
$0
endsnippet
